{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
	{% if groceryitem_list and user.is_anonymous == False %}
		<h1 class="text-center my-3">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
		<div class="container">
			<div class="row">
				<h3 class="text-center mb-3">My Grocery Item</h3>
				<ul class="list-group col-lg-2 offset-lg-5 text-center">
				{% for groceryitem in groceryitem_list %}
					<li class="list-group-item">
						<a href="{% url 'django_practice:viewgroceryitem' groceryitem.id %}" class="text-decoration-none">   {{ forloop.counter }} {{groceryitem.item_name}}</a>
					</li>
					<br>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% elif user.is_anonymous == True %}
		<h1 class="text-center my-3">You are not authorized to access this page </h1>
		<p class= "text-center">Kindly Login<a href="{% url 'django_practice:login' %}"> here</a></p>
	{% else %}
		<p> No items have been created</p>
		
	{% endif %}
{% endblock %}